@model IEnumerable<SalesWebMvc.Models.Tarefas>

@{
    ViewData["Title"] = "Lista de Tarefas";
}

<h1>Lista de Tarefas e responsável</h1>

<p>
    <a asp-action="Create" style="background-color: cadetblue; color: white; border: none; padding: 10px; cursor: pointer; border-radius: 5px;">Nova tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsável)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Horario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsável)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="background-color: cadetblue; color: white; border: none; padding: 10px; cursor: pointer; border-radius: 5px;">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="background-color: cadetblue; color: white; border: none; padding: 10px; cursor: pointer; border-radius: 5px;">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="background-color: red; color: white; border: none; padding: 10px; cursor: pointer; border-radius: 5px;">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
